name: {{ inventory_hostname }}
namespace: /db/
scope: postgres
restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_host }}:8008
  authentication:
   username: patroni
   password: patroni
etcd:
 hosts: "{% for host in groups['etcd'] %}{{ hostvars[host].ansible_host }}:2379{% if not loop.last %},{% endif %}{% endfor %}"
bootstrap:
 dcs:
  ttl: 30
  loop_wait: 10
  retry_timeout: 10
  maximum_lag_on_failover: 1048576
  master_start_timeout: 10
  postgresql:
   use_pg_rewind: true
   use_slots: true
   parameters:
    wal_level: replica
    hot_standby: "on"
    wal_keep_segments: 8
    max_wal_senders: 5
    max_replication_slots: 5
    checkpoint_timeout: 30
 initdb:
 - auth-host: md5
 - auth-local: peer
 - encoding: UTF8
 - data-checksums
 pg_hba:
 - host replication replicator samenet md5
 - host replication all 127.0.0.1/32 md5
 - host replication all ::1/128 md5
 - host all all all md5
 users:
  {{ postgres_user }}:
   password: {{ postgres_user_pass }}
   options:
    - superuser
postgresql:
 listen: 0.0.0.0:5432
 connect_address: {{ ansible_host }}:5432
 config_dir: /var/lib/pgsql/15/data
 bin_dir: /usr/pgsql-15/bin/
 data_dir: /var/lib/pgsql/15/data
 pgpass: /tmp/pgpass
 authentication:
   superuser:
     username: postgres
     password: {{ postgres_user_pass }}
   replication:
     username: replicator
     password: {{ postgres_user_pass }}
   rewind:
     username: rewind_user
     password: {{ postgres_user_pass }}
 parameters:
    max_connections: 20
    dynamic_shared_memory_type: posix
    seq_page_cost: 0.1
    random_page_cost: 0.1
    cpu_operator_cost: 0.0025
    logging_collector: on
    temp_buffers: 128MB
    max_files_per_process: 10000
    commit_delay: 1000
    from_collapse_limit: 8
    join_collapse_limit: 8
    autovacuum_max_workers: 4 
    vacuum_cost_limit: 200 
    autovacuum_naptime: 10s
    autovacuum_vacuum_scale_factor: 0.01
    autovacuum_analyze_scale_factor: 0.005
    max_locks_per_transaction: 512
    escape_string_warning: off
    standard_conforming_strings: off
    plantuner.fix_empty_table: on
    shared_buffers: 128MB
    effective_cache_size: 384MB
    maintenance_work_mem: 1638kB
    checkpoint_completion_target: 0.9
    wal_buffers: 3932kB
    default_statistics_target: 500
    effective_io_concurrency: 200
    work_mem: 1638kB
    min_wal_size: 4GB
    max_wal_size: 16GB
    max_worker_processes: 12
    max_parallel_workers_per_gather: 6
    max_parallel_workers: 12
    max_parallel_maintenance_workers: 4
    huge_files: "off"
tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
